  .big {
    letter-spacing: 0.15em;
    font-size: 82px;
  }
  .small {
    letter-spacing: 0.12em;
    font-size: 30px;    
  }

  .bottom {
    letter-spacing: 0.11em;
    font-size: 18px;
    position: absolute;
    left: 50%;
    width: 420px;
    margin-left: -210px;
    bottom:15px;
    
  }

  body {
    background-image: url("dotsLightGrey.gif");
    background-repeat: repeat;

    opacity: 1.0;
    padding-top: 35px;
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }